name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.3, 7.4, '8.0', 8.1]
        laravel: [6, 7, 8, 9]
        exclude:
          - php: 7.3
            laravel: 9
          - php: 7.4
            laravel: 9
          - php: 8.1
            laravel: 6
          - php: 8.1
            laravel: 7

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      # basically git clone
      - uses: actions/checkout@v2

      - name: Setup Git
        run: |
          git --version
          git config --global user.email "test@github.com"
          git config --global user.name "GitHub Action"
          git --version
      - name: Setup PHP
        # use PHP of specific version
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov
          ini-values: error_reporting=E_ALL
          tools: composer:v2

      - name: Install Composer Dependencies
        run: |
           composer require "illuminate/contracts=^${{ matrix.laravel }}" --no-update
           composer update --prefer-dist --no-interaction --no-progress
      - name: Run PHPUnit Tests
        run: composer test